body {
    font-family: sans-serif;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1{
    font-size: 64px;
    color: #1F3F68;
}

.title_in_contact{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3{
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form_in_contact {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.buttom_in_form{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

div{
    border: 1px;
    border-color: black;
}
