
body {
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 1170px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1{
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
}

.title_in_contact{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3{
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form_in_contact {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.buttom_in_form{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

div{
    border: 1px;
    border-color: black;
}

.content{
    position: relative;
    display:flex;
    justify-content: center;
}

.block{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    position: absolute;
}

.block-1{
    z-index: 1;
    background-color: blueviolet;
}

.block-2{
    display: none;
    background-color: blue;
}

.content:hover .block-2{
    z-index: 1;
    display: block;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.text_1{
    width: 425px;
    margin-bottom: 20px;
}

.block_after_main{
    height: 359px;
    display: flex;
    justify-content: space-around;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_part_1{
    width: 495px;
}

.footer_part_1 h3{
    width: 340px;
}

.footer_part_1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.dubble_block{
    display: flex;
    justify-content: space-around
}

.cart{
    width: 100%;
}


